obj/*
data/*/*
!/data/Test_Data/*
TORCH_Data_Processor
*.sh
!run_test.sh
Notes.txt
*.root
*.txt
*.pdf

*.xml
!Example_Config.xml

Build/*
build/*
Install/*
install/*
Plots/*
plots/*
Outputs/*
outputs/*

