TORCH_Data_Processor

*.sh
*.root
*.txt
*.pdf
*.lst
*.xml
*.dat

!run_test.sh
!CMakeLists.txt
!Example_Config.xml

data/*
!/data/Test_Data
!/data/Test_Data/*/*.dat

Build/*
build/*
Install/*
install/*
Plots/*
plots/*
Outputs/*
outputs/*
Filelists/*
filelists/*
